.weatherApp {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #878787;
  border-radius: 16px;
  box-shadow: 0 30px 50px rgb(65 50 100 / 8%);
}

footer {
  margin-top: 40px;
}
